:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  --fraunces-family: Fraunces, sans-serif;
  --montserrat-family: Montserrat, sans-serif;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-weight: 500 700;
}

@font-face {
  font-family: "Fraunces";
  src: local("Fraunces"),
    url("./assets/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
  font-weight: 700;
}

html {
  font-size: 62.5%;
}

body {
  height: 100dvh;
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--cream);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  font-family: var(--montserrat-family);
  line-height: 1.2;
  width: min-content;
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
}

.product-picture img {
  object-fit: cover;
  width: 350px;
  display: block;
}

.product-title p {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.2rem;
  color: var(--grey);
}

.product-title h1 {
  font-family: var(--fraunces-family);
  font-weight: bold;
  font-size: 3.2rem;
  color: var(--black);
  margin-top: 2.4rem;
  line-height: 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 3.2rem;
}

.product-description {
  font-size: 1.4rem;
  line-height: 1.6;
  color: var(--grey);
}

.product-price {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.product-price s {
  line-height: 1.2;
  font-size: 1.3rem;
  color: var(--grey);
  text-decoration: line-through;
}

.product-price data {
  font-family: var(--fraunces-family);
  color: var(--green-500);
  line-height: 1;
  font-size: 3.2rem;
  font-weight: 700;
}

.cart-button {
  font-size: 1.4rem;
  color: var(--white);
  background-color: var(--green-500);
  padding-inline: 3.2rem;
  padding-block: 1.6rem;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  text-align: center;
  min-width: 100%;
}

.cart-button:hover {
  background-color: var(--green-700);
}

.cart-button img {
  margin-inline-end: 1.7rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .card {
    width: auto;
    display: flex;
  }

  .card-content {
    width: 300px;
  }

  .product-picture img {
    width: 300px;
    height: 100%;
  }
}
